body{
	margin:0;
	background-color: #ffffff;
}

p.time { 
	font-size: 50px;
	top: 400px;  
    left: 100px;  
 }

 #image_yes {
	position: fixed;
	top: 600px;
	left: 20px;
}

#image_yes_on {
	position: fixed;
	top: 600px;
	left: 20px;
	visibility : hidden;
}